<div class="content" style="color: black">
	<p id="notice"><%= notice %></p>
		<h4 style="color: white; text-align: center"><%= @todo_list.title %></h4>
		<p style="color: #1F7972; text-align: center; font-size: 0.9em; font-weight: 100; margin: -13px 0 13px 0"><%= @todo_list.description %></p>
		<% @todo_list.todo_items.each do |todo_item| %>
			<div class="row" id="todo_list">
				<%= render "todo_items/todo_items", room: @room, todo_list: @todo_list, todo_item: todo_item %>
			</div>
		<% end %>
		<div id="form">
			<%= render "todo_items/form", room: @room, todo_list: @todo_list %>
		</div>

		<div class="links">
			<%= link_to 'Edit', edit_room_todo_list_path(@room, @todo_list), remote: true %> |
			<%= link_to 'Delete', room_todo_list_path(@room, @todo_list), method: :delete,
				data: { confirm: "Are you sure?" }, remote: true %> |
			<%= link_to 'Back', room_todo_lists_path(@room), remote: true %>
		</div>
</div>
