<% provide :title, "Discussions" %>
<div class="sidebar" id="sidebar">
  <div class="container">
    <div class="col-md-12">
      <div class="tab-content">
        <!-- Start of Discussions -->
        <div id="discussions" class="tab-pane fade active show">
          <div class="search">
            <form class="form-inline position-relative">
              <input type="search" class="form-control" id="conversations" placeholder="Search for conversations...">
              <button type="button" class="btn btn-link loop">
                <i class="material-icons">search</i>
              </button>
            </form>
            <button class="btn create" data-toggle="modal" data-target="#startnewchat"><i class="material-icons">create</i></button>
          </div>
          <div class="list-group sort">
            <button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
            <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read</button>
            <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Unread</button>
          </div>
          <div class="discussions">
            <h1>Discussions</h1>
            <div class="list-group" id="chats" role="tablist">

              <% @users.each do |user| %>
                <%= link_to conversations_path(user_id: user.id), class: "filterDiscussions all unread single", id: "list-chat", data: {toggle: "list"}, method: :post, remote: true, role: "tab" do %>
                  <div class="status">
                    <i class="material-icons online">fiber_manual_record</i>
                  </div>
                  <div class="new bg-pink">
                    <span>+10</span>
                  </div>
                  <%= image_tag("avatars/avatar-male-1.jpg", data: {toogle: "tooltip", placement: "top"}, alt: "avatar", class: "avatar-md", title: "Michael") %>
                  <div class="data">
                    <h5><%= user.name %></h5>
                    <span>Mon</span>
                    <p>Content of Messages</p>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
        <!-- End of Discussions -->
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="tab-content" id="nav-tabContent">
    <!-- Start of Babble -->
    <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
      <!-- Start of Chat -->
      <div class="chat" id="chat1">
        Hello <%= current_user.name %>
      </div>
    </div>
    <div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
      <!-- Start of Chat -->
      <div class="chat" id="chat2">
        <div class="top">
          <div class="container">
            <div class="col-md-12">
              <div class="inside">
                <%= image_tag("avatars/avatar-male-1.jpg", data: {toogle: "tooltip", placement: "top"}, alt: "avatar", class: "avatar-md", title: "Michael") %>
                <div class="status">
                  <i class="material-icons offline">fiber_manual_record</i>
                </div>
                <div class="data">
                  <h5><a href="#">Lean Avent</a></h5>
                  <span>Inactive</span>
                </div>
                <button class="btn connect d-md-block d-none" name="2"><i class="material-icons md-30">phone_in_talk</i></button>
                <button class="btn connect d-md-block d-none" name="2"><i class="material-icons md-36">videocam</i></button>
                <button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>
                <div class="dropdown">
                  <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item connect" name="2"><i class="material-icons">phone_in_talk</i>Voice Call</button>
                    <button class="dropdown-item connect" name="2"><i class="material-icons">videocam</i>Video Call</button>
                    <hr>
                    <button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
                    <button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
                    <button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content empty">
          <div class="container">
            <div class="col-md-12">
              <div class="no-messages">
                <i class="material-icons md-48">forum</i>
                <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-md-12">
            <div class="bottom">
              <form class="position-relative w-100">
                <textarea class="form-control" placeholder="Start typing for reply..." rows="1"></textarea>
                <button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
                <button type="submit" class="btn send"><i class="material-icons">send</i></button>
              </form>
              <label>
                <input type="file">
                <span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Chat -->
    </div>
  </div>
</div>
