<div class="title">
  <h1>Send friend request</h1>
  <button type="button" class="btn" data-dismiss="modal" aria-label="close"><i class="material-icons">close</i></button>
</div>
<div class="content">
  <%= form_for [current_user, @relationship], method: :post, remote: true do |f | %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="form-group">
      <%= f.label :friend_id, "Name" %>
      <%= f.collection_select :friend_id, @users, :id, :name, {promt: :name}, class: "form-control" %>
    </div>
    <%= f.submit "Send friend request", class: "btn button w-100" %>
  <% end %>
</div>
s
