<div class="content">
  <%= form_for @user do |f| %>
  <div class="upload">
    <div class="data" style="text-align: center">
      <%= image_tag(current_user.avatar, class: "avatar-xl", alt: "image") %>
      <!-- <button class="btn button w-100" style="margin-top: 7px">Upload avatar</button> -->
      <%= f.file_field :avatar, class: "btn button w-100", style: "margin-top: 7px" %>
    </div>
    <p>For best results, use an image at least 256px by 256px in either .jpg or .png format!</p>
  </div>

    <div class="field">
      <%= f.label :name, "Your Name"%>
      <span>*</span>
      <%= f.text_field :name, class: "form-control", autocomplete: :off, id: "firstName", placeholder: "Your name", value: current_user.name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <span>*</span>
      <%= f.email_field :email, class: "form-control", autocomplete: :off, id: "email", placeholder: "Enter your email address", value: current_user.email %>
    </div>
    <div class="field">
      <%= f.label :address, "Location" %>
      <span>*</span>
      <%= f.text_field :address, class: "form-control", autocomplete: :off, id: "location", placeholder: "Enter your location", value: current_user.address %>
    </div>
    <div class="field">
      <%= f.label :password, "Password" %>
      <span>*</span>
      <%= f.password_field :password, class: "form-control", autocomplete: :off, id: "password", placeholder: "Enter new password"%>
    </div>
    <%= f.submit "Apply", class: "btn button w-100" %>
  <% end %>
</div>
