<div class="left-menu">
  <div class="user-profile">
    <div class="profile-img">
      <% if user_signed_in? %>
        <img src="https://instagram-brand.com/wp-content/uploads/2016/11/app-icon2.png"></img>
        <%= current_user.name %>
      <% else %>

      <% end %>
    </div>
    <div class="profile">
      <a href="#" class="dropdown-toggle profile" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></a>
        <ul class="dropdown-menu" id="menu1" aria-labelledby="drop4">
          <% if user_signed_in? %>
            <li><%= link_to "Profile", "#" %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
          <% end %>
          <li role="separator" class="divider"></li>w
        </ul>
    </div>
  </div>
  <div class="content-left">
    <div class="contact-group">
      <div class="col-contact">
        <a href="#" >Contacts</a>
      </div>
      <div class="col-contact">
        <a href="#">Chat rooms</a>
      </div>
    </div>
    <div class="contact-content">
      <%= render "users/contact" %>
    </div>
  </div>
  <div class="text-search">
    <input type="text" placeholder="Search here">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</div>
