<div class="navigation">
  <div class="container">
    <div class="inside">
      <div class="nav nav-tab menu">

        <%= link_to root_path, class: "btn" do %>
          <%= image_tag("avatars/avatar-male-1.jpg", alt: "avatar", class: "avatar-xl") %>
        <% end %>

        <a href="#members" data-toggle="tab">
          <i class="material-icons">account_circle</i>
        </a>

        <%= link_to user_messages_path(current_user.id), class: "active" do %>
          <i class="material-icons">chat_bubble_outline</i>
        <% end %>

        <%= link_to "#", class: "f-grow1" do %>
          <i class="material-icons">notifications_none</i>
        <% end %>

        <%= link_to edit_user_path(current_user.id) do %>
          <i class="material-icons">settings</i>
        <% end %>

        <%= link_to logout_path, method: :delete, class: "btn power" do %>
          <i class="material-icons">power_settings_new</i>
        <% end %>

      </div>
    </div>
  </div>
</div>
